<div class="featured-product" style="background-color: {{ background_color }};">
    <h2 class="featured-product__title">{{ title }}</h2>
    <img class="featured-product__image" src="{{ image_url }}" alt="{{ title }}" />
    <div class="featured-product__description">{{ description }}</div>
     <a href="{{ link }}" class="btn btn-primary">IR A LA TIENDA</a>
</div>

